
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>iSerials</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/favourites.css" />
    <link rel="stylesheet" href="/css/serials.css" />
  </head>
  <body>
      <% include ./parts/header %>
      <%- body -%>
      <% include ./parts/footer %>
  </body>
</html>