<% layout('layout') -%>

<div class='row'>
    <div class='col-lg-6 col-md-offset-3'>
        <% if (message.length > 0) { %>
            <div class='alert alert-danger alert-dismissible'>
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
                <%= message %>
            </div>
        <% } %>
        <form method='post'>
            <h1>Вход</h1>
            <div class='form-group'>
                <label='email'>Email:</label>
                <input type='email' class='form-control' name='email' required/>
            </div>
            
            <div class='form-group'>
                <label='password'>Пароль:</label>
                <input type='password' class='form-control' name='password' required/>
            </div>
            
            <button type='submit' class='btn btn-success'>Войти</button>
        </form>
    </div>
</div>