.fa{
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	color: white;
}

.fa.fa-search{
	padding-top: 5px;
	color:black;
}

.fa:hover{
	color:yellow;
}
a.like {
	background: url('../img/heart-white.png');
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    padding: 0;
    float: right;
}
content a {
	color: white;
}