.flash{
	/*float: left;*/
}

article{
	text-align: left;
	//padding-top: 30px;
	float: right;
	width: 65%;
	margin-right: 20px;
	font-size: 18px;
	font-family: Open Sans;
}

h1{
	font-size: 24px;
	margin-bottom: 0px;
}

.seasons{
	width: 100%;
	float: left;
	margin-top: 30px;
}


.btn_seasons1{
	 cursor: pointer;
    display: inline-block;
	color:#656e79;
    width: 147px;
	font-size: 20px;
	text-align: center;
	padding-top: 2px;
	float: left
}

#ser1{
	display: block;
	//background: red;
	width: 283px;
	height: 190px;
}

.ser1{
	margin-top: 40px;
}

/**/
.notebook {
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 100%;
}

.notebook > input {
    display: none;
}

.notebook > input + label {
    display: inline-block;
    cursor: pointer;
    background-color:#fafbfd;
    width: 147px;
	font-size: 20px;
	text-align: center;
	padding-top: 2px;
	height: 35px;
	float:left;
	border: 1px solid #eee;
}

.notebook > input + label:not(:last-of-type) {
    border-right: none;
}

.notebook > input + label:hover {
    color: blue;
}

.notebook > input + label:last-of-type::after {
    display: block;
    border-bottom: 1px solid gray;
    width: 2000px;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 100%;
}

.notebook > input:checked + label {
    border-bottom: none;
}

.notebook > input:checked + label:last-of-type::after {
    bottom: 0px;
}

.notebook > div {
    white-space: normal;
    display: none;
    border-top: none;
    margin: 0px;
}

.notebook > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.notebook > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.notebook > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.notebook > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
    display: block;
    margin-top: 80px;
}

.blackout_block{
	width: 100%;
	height:40px;
	background: rgba(0,0,0,.54);
	position: absolute;
	bottom: 0px;
	font-family: Open Sans;
	font-size: 22px;
	color: white;
	text-align: left;
	font-weight: bold;
	line-height: 40px;
	text-indent: 10px;
}

.seria1{
	display: inline-block;
	width: 283px;
	height: 190px;
	background-color: #fafbfd;
	margin-top: 31px;
	position: relative;
	cursor: pointer;
}

.watchOn{
display: inline-block;
}

.watchOn1{
	height:40px;
	background: rgba(0,0,0,.54);
	font-family: Open Sans;
	font-size: 22px;
	color: white;
	text-align: left;
	font-weight: bold;
	width: 470px;
	margin-bottom: 10px;
}

.about{
	height: 250px;
}
.about img {
	width: 100%;
}
.about div:first-child {
	width: 283px;
	position: relative;
	display: inline-block;
}