

header,footer,
article,section,
hgroup,nav,
figure{
	display:block;
}

nav{
	margin-left:-40px; 
	margin-top: -15px;
}

body{
	text-align: center;
}

#page{
	width: 960px;
	height: 600px;
	margin: 0 auto;
}

header{
	height: 48px;
	background-color: #fafbfd;
	border-bottom:1px solid #eee;
}

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	font:600 20px/20px 'Open Sans', Arial;
	color:#656e79;
	display:block;
	float:left;
	width: 19%;
	padding-top: 15px;
}

a{
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: none;
	font:600 20px/20px 'Open Sans', Arial;
	color:#282a2e;
}

#search{
	width: 56px;
}

#logo{
	width: 153px;
}

.flash, .arrow, .doctorwho, .daredevil, .agent, .supernatural{ 
	display: inline-block;
	width: 283px;
	height: 190px;
	background-color: #fafbfd;
	margin-top: 31px;
	position: relative;
}

.flash{
    background: url(../img/flash.jpg) no-repeat;
}

.arrow{
     background: url(../img/arrow.jpg) no-repeat;
}
.doctorwho{
    background: url(../img/doctorwho.jpeg) no-repeat;
}
.daredevil{
    background: url(../img/daredevil.jpg) no-repeat;
}

.agent{
    background: url(../img/agent.jpg) no-repeat;
}

.supernatural{
    background: url(../img/supetnatural.jpg) no-repeat;
}
.anchor_div:hover{
	//background-color: #F5F5F5;
}

.div1{
	width: 100%;
	height:40px;
	background: rgba(0,0,0,.54);
	position: absolute;
	bottom: 0px;
	font-family: Open Sans;
	font-size: 22px;
	color: white;
	text-align: left;
	font-weight: bold;
	line-height: 40px;
	text-indent: 10px;
}


/*форма поиска*/

#searchf input[type=search] {
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	float: right;
}


#searchf input:-moz-placeholder {
	color: transparent;
}
#searchf input::-webkit-input-placeholder {
	color: transparent;
}

input[type=search] {
	float: right;
	width: 60px;
	height: 48px;
	border: solid 0px;
	background: #fafbfd url(../img/search-icon.png) no-repeat;
}

#searchf input[type=search]:focus {
	width: 800px;
	height: 49px;
	margin-top: -42px;
	float: right;
	color: #000;
	background-color: #fafbfd;
	cursor: auto;
	z-index: 999;
	font-size: 25px;
	outline: 1px solid #eee;
    padding-left: 55px;
}

/* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 300px;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
/* адаптивные картинки в модальном блоке */
.modal-body img { 
    max-width: 100%;
    height: auto;
}
/* кнопки */
.btn {
    cursor: pointer;
    display: inline-block;
    font:600 20px/20px 'Open Sans', Arial;
	color:#656e79;
    width: 147px;
	font-size: 20px;
	text-align: center;
	border-left: none;
	padding-top: 2px;
	float: left;
}
.btn:hover, .btn:focus {
    color: #282a2e;
}
.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}

/* Элементы формы контактов */
.textbox{
    height:45px;
    width:100%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    font-size:14px; 
    padding:8px;
    margin-bottom:20px;  
}
.message:focus,
.textbox:focus{
    outline:none;
    border:rgba(24,149,215,1) 1px solid;
    color:rgba(24,149,215,1);
}
.message{
	background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 120px;
    border:rgba(0,0,0,.3) 1px solid;
    box-sizing:border-box;
    -moz-border-radius: 3px;
    font-size:14px;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
    display:block;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}
/* кнопка "отправить" формы */
.btn-form{
    width:100%;
    height:45px;  
    border: 0px;
    background: #fafbfd;
    color:#555;
    transition:background .4s;
    margin-bottom: 10px;
}
/* Изменение фона кнопки при наведении */
.btn-form:hover{
    background: #f2f2f2;
}