<header>
	<nav>
        <ul>
          <li><a href="/" id="logo">Logo</a></li>
          <li><a href="/favourites">Favourites</a></li>
          <li><a href="/">Все сериалы</a></li>
          <li>
              <a href="/login">Вход/Выход</a>
          </li>
          <li>
              <a href="/signup">Регистрация</a>
          </li>
          <li><form id="searchf">
                <input type="search" placeholder="Искать">
              </form>
          </li>
        <!-- Форма регистрации -->
          <div class="modal">
            <input class="modal-open" id="modal-2" type="checkbox" hidden>
            <div class="modal-wrap" aria-hidden="true" role="dialog">
              <label class="modal-overlay" for="modal-2"></label>
              <div class="modal-dialog">
                <div class="modal-header">
                  <h2>Login/Registration</h2>
                  <label class="btn-close" for="modal-2" aria-hidden="true">×</label>
                </div>
                <div class="modal-body">
                    <form>
                     <input name="name" placeholder="* Login" class="textbox" required />
                        <input name="name" placeholder="* Password" class="textbox" required />
                        <input name="submit" class="btn btn-form" type="submit" value="Login" />
                         <input name="submit" class="btn btn-form" type="submit" value="Registration" />
                    </form>
                </div>
              </div>
            </div>
          </div>
      </ul>
      </nav>
</header>