<% layout('layout') -%>
<h3>Hello, <%= user.profile.name %>!<h3>
<section id="content">
	<% if (user.favourites.flash) { %>
	    <div class="flash">
	      <a href="/serial/flash">
	      <div class="div1">The Flash
	      <i class="fa fa-heart"></i></div>
	      </a>
	    </div>
    <% } %>
    <% if (user.favourites.arrow) { %>
	    <div class="arrow">
	      <a href="/serial/arrow" class="anchor_div1">
	      <div class="div1">Arrow <i class="fa fa-heart"></i>
	      </div></a>
	    </div>
	<% } %>
    <% if (user.favourites.doctor_who) { %>
	    <div class="doctorwho">
	      <a href="/serial/doctor-who" class="anchor_div1">
	      <div class="div1">Doctor Who <i class="fa fa-heart"></i></div></a>
	    </div>
	<% } %>
    <% if (user.favourites.daredevil) { %>
	    <div class="daredevil">
	      <a href="/serial/daredevil" class="anchor_div1">
	      <div class="div1">Daredevil <i class="fa fa-heart"></i></div></a>
	    </div>
	<% } %>
    <% if (user.favourites.agents_of_shield) { %>
	    <div class="agent">
	      <a href="/serial/agents-of-shield" class="anchor_div1">
	      <div class="div1">Agents of S.H.I.E.L.D. <i class="fa fa-heart"></i></div></a>
	    </div>
	<% } %>
    <% if (user.favourites.supernatural) { %>
	    <div class="supernatural">
	      <a href="/serial/supernatural" class="anchor_div1">
	      <div class="div1">Supernatural <i class="fa fa-heart"></i></div></a>
	    </div>
	<% } %>
</section>