<% layout('layout') -%>

<section id="content">
        <div class="flash">
          <a href="/serial/flash">
          <div class="div1">The Flash
          <a class="like" href="add/flash"><i class="fa fa-heart"></i></div></a>
          </a>
        </div>
        <div class="arrow">
          <a href="/serial/arrow" class="anchor_div1">
          <div class="div1">Arrow <a class="like" href="add/arrow"><i class="fa fa-heart"></i></a>
          </div></a>
        </div>
        <div class="doctorwho">
          <a href="/serial/doctor-who" class="anchor_div1">
          <div class="div1">Doctor Who <a class="like" href="add/doctor-who"><i class="fa fa-heart"></i></a></div></a>
        </div>
        <div class="daredevil">
          <a href="/serial/daredevil" class="anchor_div1">
          <div class="div1">Daredevil <a class="like" href="add/daredevil"><i class="fa fa-heart"></i></a></div></a>
        </div>
        <div class="agent">
          <a href="/serial/agents-of-shield" class="anchor_div1">
          <div class="div1">Agents of S.H.I.E.L.D. <a class="like" href="add/agents-of-shield"><i class="fa fa-heart"></i></a></div></a>
        </div>
        <div class="supernatural">
          <a href="/serial/supernatural" class="anchor_div1">
          <div class="div1">Supernatural <a class="like" href="add/supernatural"><i class="fa fa-heart"></i></a></div></a>
        </div>
    </section>