<% layout('layout') -%>

<section id="content">
    <div class="about">
      <div class="<%= serial %>">
             <img src="/img/<%= serial %>.jpg" ><div class="blackout_block"><%= title %></div>
        </div>
      <article>
        <h1><%= serial %></h1>
        <!-- <%= descr %>-->
        While working in his lab during a storm one night, a bolt of lightning strikes a tray of chemicals soaking police scientist Barry Allen with its contents. Now able to move at super-speed, Barry becomes The Flash protecting Central City from the threats it faces.
      </article>
    </div>
    <div class="notebook">
     <% for (var i = seasons; i > 0; i--) { %>
      <input type="radio" name="notebook1" id="notebook1_<%= i %>" <% if (i==seasons) { %>checked<% } %>
      ><label for="notebook1_<%= i %>">Season <%= i %></label
      ><% } %>
      <% for (var j = seasons; j > 0; j--) { %>
        <div class="season_<%= j %>">
        <% for (var i = 0; i < data.length; i++) { %>
          <% if (data[i].season == j) { %>
            <div class="seria1">
              <a href="<%= data[i].url %>" id = "ser1"><div style="<%= data[i].img %>">&nbsp;</div><div class="blackout_block">Сезон <%= data[i].season %>, серия <%= data[i].episod %></div></a>
            </div>
          <% } %>
        <% } %>
        </div>
      <% } %>
      </div>
 </section>